body {
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Gabarito', sans-serif;;
}
* {
    box-sizing: border-box;
}
.righteous {
    font-family: Righteous, sans-serif;
}

/* Header styles */
header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 15px;
    z-index: 5;
}
header div {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 5px 0;
    display: flex;
    gap: 35px;
    justify-content: center;
    border-radius: 15px;
    font-size: 17px;

    animation: header-animation linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}
header a {
    color: white;
    text-decoration: none;

    &:visited {
        color: white;
    }
}

@keyframes header-animation {
    to {
        background-color: #800000;
    }
}

/* Here the MAIN starts */
/* The first section (Guardians of the Nature)*/
#guardians {
    width: 100%;
    height: auto;
    padding: 75px 15px 65px 35px;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)), url(./material/Background.jpg);
    background-size: cover;
    background-position: 60% 50%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(6, 1fr);
}
#guardians-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: white;
    grid-row: 2 / span 4;
    grid-column: 1 / span 1;
}
#guardians-title {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #BD0926;
}
#guardians-div h4 {
    margin: 0;
    font-size: 20px;
}
#guardians-div p {
    margin: 0;
    margin-bottom: 13px;
}
#guardians-div a {
    width: 60%;
    height: 25px;
}
#guardians-div button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #F20505;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

/* The second section (Our Mission)*/
#mission {
    width: 100%;
    height: auto;
    padding: 50px 20px 50px 20px;
    position: relative;
    background-color: #C7D9AD;
}
#mission h1 {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
#mission-cards-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.mission-card {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 100px 1fr;
    border-radius: 10px;
    background-color: #5e192a;
    padding: 10px;
    gap: 10px;
}
.mission-card img {
    grid-row: 1 / span 1;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
    justify-self: center;
}
.mission-card-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.mission-card-text h2 {
    margin: 0;
    text-align: center;
    color: white;
}
.card-text-line {
    height: 1px;
    width: 100%;
    background-color: black;
}
.mission-card-text p {
    margin: 0;
    color: white;
}

/* The third section (Our Adventures) */
#adventures {
    width: 100%;
    height: auto;
    padding: 50px 20px 40px 20px;
    background-image: linear-gradient(105deg, #097341 32%, rgb(16, 187, 90) 71%);
}
.adventures-title {
    margin: 0;
    font-size: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid ;
    letter-spacing: 2px;
}
#adventures-cards-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    gap: 5px;
}
.adventures-card {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 1fr;
}
.adventures-card img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.adventures-text {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 35px;
}
.adventures-text h1 {
    grid-column: 1 / 4;
    grid-row: 1 / 4 ;
    margin: 0;
    font-size: 89px;
    line-height: 89px;
    color: rgba(255,255,255,0.2)
}
.adventures-information {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    padding: 10px 0 0 20px;
}
.adventures-information h2 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 1px;
}
.adventures-information p {
    margin: 0;
    margin-bottom: 10px;
}
.adventures-information a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.fa-solid {
    font-size: 12px;
}


.card-left {
    grid-template-columns: 2fr 1fr;
    align-self: left;
}
.card-right {
    grid-template-columns: 1fr 2fr;
}
.card-left img {
    grid-column: 2 / span 1;
    grid-row: 1 / -1
}
.card-left .adventures-text {
    grid-column: 1 / span 1;
    grid-row: 1 / -1
}
.card-right .adventures-text {
    grid-column: 2 / -1;
}
.card-right img {
    grid-column: 1 / span 1;
}

#adventures button {
    margin: 0 auto;
    display: block;
    width: 35%;
    height: auto;
    padding: 4px 0;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 800;
}


/* @media for smaller sizes */
@media only screen and (max-width: 600px) {
    header div {
        width: 87%
    }
    #guardians {
        background-position: 70% 50%;
        background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 110%), url(./material/Background.jpg);
    }
    #adventures-cards-container {
        gap: 50px;
        margin: 15px 0 50px 0;
    }
    .adventures-text {
        padding: 0 20px;
    }
    #adventures button {
        width: 40%;
        padding: 3px 0;
        font-size: 17px;
    }
}
@media only screen and (max-width: 570px) {
    #guardians {
        background-position: 70% 50%;
        background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 110%), url(./material/Background.jpg);
    }
    #adventures-cards-container {
        gap: 60px;
        margin-bottom: 70px;
    }
    .adventures-text h1 {
        font-size: 75px;
        line-height: 75px;
    }
    .adventures-information {
        padding: 3px 0 0 20px;
    }
    .adventures-information h2 {
        font-size: 26px;
    }
}
@media only screen and (max-width: 515px) {
    header div {
        font-size: 16px;
        gap: 30px;
    }
    #guardians {
        background-position: 65% 50%;
        grid-template-rows: repeat(10, 1fr);
        padding: 75px 15px 65px 20px;
    }
    #guardians-div {
        grid-row: 2 / span 8;
    }
    #guardians-title {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 10px;
    }
    #guardians-div h4 {
        margin: 0;
        font-size: 19px;
    }
    #guardians-div a {
        width: 80%;
    }
    #mission-cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        justify-items: center;
    }
    .mission-card {
        width: 85%;
        border-radius: 15px;
    }
    .mission-card-text p {
        margin-bottom: 3px;
    }
    .adventures-title {
        font-size: 45px;
    }
    #adventures-cards-container {
        gap: 65px;
        margin-bottom: 80px;
    }
    .adventures-card {
        grid-template-columns: 1fr 1fr;
    }
    .adventures-text {
        padding: 0 15px;
    }
    .adventures-information {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        padding: 45px 0 0 15px;
    }
    #adventures button {
        width: 45%;
        padding: 3px 0;
        font-size: 16px;
    }
}
@media only screen and (max-width: 460px) {
    header div {
        font-size: 15px;
        gap: 20px;
    }
    #guardians {
        background-position: 68% 50%;
        grid-template-rows: repeat(14, 1fr);
        padding: 75px 15px 65px 20px;
    }
    #guardians-div {
        grid-row: 2 / span 12;
    }
    #guardians-title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    #guardians-div h4 {
        margin: 0;
        font-size: 18px;
    }
    #guardians-div p {
        font-size: 15px;
    }
    #guardians-div a {
        width: 85%;
        height: 27px;
    }
    .mission-card {
        width: 90%;
    }
    #mission h1 {
        font-size: 50px;
        line-height: 50px;
    }
    .mission-card-text h2 {
        font-size: 22px;
    }
    .mission-card-text p {
        font-size: 15px;
    }
    #adventures {
        padding: 50px 15px 40px 15px;
    }
    .adventures-title {
        font-size: 40px;
    }
    #adventures-cards-container {
        gap: 55px;
        margin-bottom: 65px;
    }
    .adventures-text h1 {
        font-size: 60px;
        line-height: 60px;
    }
    .adventures-information {
        padding: 30px 0 0 10px;
    }
    .adventures-information h2 {
        font-size: 23px;
    }
    .adventures-information p {
        font-size: 15px;
        margin-bottom: 3px;
    }
    .adventures-information a {
        font-size: 15px;
    }
    .fa-solid {
        font-size: 10px;
    }
    #adventures button {
        width: 50%;
        padding: 2px 0;
        font-size: 15px;
    }
}
@media only screen and (max-width: 390px) {
    header div {
        width: 95%;
        gap: 17px;
    }
    #guardians {
        background-position: 70% 50%;
        padding: 75px 15px 45px 12px;
    }
    #guardians-title {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 5px;
    }
    #guardians-div h4 {
        margin: 0;
        font-size: 17px;
    }
    #guardians-div p {
        font-size: 14px;
    }
    #guardians-div a {
        width: 95%;
    }
    .mission-card {
        width: 100%;
    }
    #mission h1 {
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 20px;
    }
    .mission-card-text h2 {
        font-size: 20px;
    }
    .mission-card-text p {
        font-size: 14px;
    }
    .adventures-title {
        font-size: 35px;
        margin-bottom: 40px;
    }
    #adventures-cards-container {
        gap: 45px;
        margin-bottom: 60px;
    }
    .adventures-text h1 {
        font-size: 50px;
        line-height: 50px;
    }
    .adventures-information {
        padding: 25px 0 0 7px;
    }
    .adventures-information h2 {
        font-size: 21px;
    }
    .adventures-information p {
        font-size: 14px;
        margin-bottom: 3px;
    }
    .adventures-information a {
        font-size: 14px;
    }
    #adventures button {
        width: 55%;
        padding: 2px 0;
        font-size: 14px;
    }
}
@media only screen and (max-width: 350px) {
    header div {
        font-size: 14px;
    }
    #guardians {
        background-position: 75% 50%;
        padding: 75px 15px 35px 12px;
    }
    #guardians-title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    #guardians-div h4 {
        margin: 0;
        font-size: 16px;
    }
    #guardians-div p {
        font-size: 14px;
    }
    #guardians-div a {
        width: 105%;
        height: 25px;
    }
    #guardians-div button {
        font-size: 13px;
    }
    #mission h1 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .mission-card-text h2 {
        font-size: 19px;
    }
    .mission-card-text p {
        font-size: 13px;
    }
    .adventures-title {
        font-size: 30px;
    }
    .adventures-information h2 {
        font-size: 20px;
    }
    .adventures-information p {
        font-size: 13px;
    }
    .adventures-information a {
        font-size: 13px;
    }
    .fa-solid {
        font-size: 9px;
    }
}
@media only screen and (max-width: 330px) {
    header div {
        font-size: 13px;
        width: 97%;
        gap: 12px;
    }
    #guardians {
        padding: 75px 15px 45px 15px;
    }
    #guardians-title {
        font-size: 25px;
        line-height: 25px;
    }
    #guardians-div h4 {
        font-size: 14px;
    }
    #guardians-div p {
        font-size: 13px;
    }
    #guardians-div button {
        font-size: 12px;
    }
    #mission h1 {
        font-size: 35px;
        line-height: 35px;
    }
    #adventures-cards-container {
        margin-bottom: 40px;
    }
    .mission-card-text h2 {
        font-size: 18px;
    }
    .mission-card-text p {
        font-size: 12px;
    }
    .adventures-title {
        font-size: 28px;
    }
    .adventures-information h2 {
        font-size: 19px;
    }
    .adventures-information p {
        font-size: 12px;
    }
    .adventures-information a {
        font-size: 12px;
    }
    #adventures button {
        width: 60%;
        font-size: 12px;
    }
}


/* @media for bigger sizes */
@media only screen and (min-width: 800px) {
    header div {
        width: 78%;
        gap: 45px;
    }
    #guardians-div a {
        width: 65%;
        height: 30px;
    }
    #guardians-div button {
        border-radius: 5px;
        font-size: 16px;
    }
    #adventures {
        padding: 50px 30px 40px 30px;
    }
    .adventures-title {
        font-size: 60px;
    }
    #adventures-cards-container {
        gap: 35px;
    }
    .adventures-card {
        width: 87%;
    }
    .card-left {
        align-self: end;
    }
    .card-right {
        align-self: start;
    }
}
@media only screen and (min-width: 900px) {
    header div {
        gap: 55px;
    }
    #guardians-title {
        font-size: 70px;
        line-height: 70px;
        margin-bottom: 12px;
    }
    #guardians-div h4 {
        margin: 0;
        font-size: 24px;
    }
    #guardians-div p {
        font-size: 18px;
        margin-bottom: 15px;
    }
    #guardians-div a {
        width: 50%;
        height: 30px;
    }
    #guardians-div button {
        font-size: 16px;
    }
    #mission h1 {
        font-size: 70px;
        line-height: 70px;
        margin-bottom: 35px;
    }
    #adventures {
        padding: 50px 30px 40px 30px;
    }
    .adventures-title {
        font-size: 65px;
    }
    #adventures-cards-container {
        gap: 15px;
        margin-bottom: 75px;
    }
    .adventures-card {
        width: 85%;
    }
    .adventures-text {
        padding: 35px;
    }
    .adventures-text h1 {
        font-size: 95px;
        line-height: 95px;
    }
    .adventures-information h2 {
        font-size: 35px;
        margin-bottom: 2px;
    }
    .adventures-information p {
        font-size: 17px;
        margin-bottom: 10px;
    }
    .adventures-information a {
        font-size: 17px;
    }
    .fa-solid {
        font-size: 13px;
    }
}
@media only screen and (min-width: 1024px) {
    header div {
        gap: 75px;
    }
    #guardians {
        padding: 85px 15px 75px 40px;
    }
    #guardians-div a {
        width: 60%;
        height: 35px;
    }
    #guardians-div button {
        font-size: 18px;
    }
    #adventures {
        padding: 50px 50px 40px 50px;
    }
    .adventures-title {
        font-size: 70px;
    }
    #adventures-cards-container {
        gap: 25px;
    }
    .adventures-card {
        width: 75%;
    }
    .adventures-text {
        padding: 30px;
    }
    .adventures-information h2 {
        font-size: 40px;
    }
    .adventures-information p {
        font-size: 20px;
    }
    .adventures-information a {
        font-size: 20px;
    }
    .fa-solid {
        font-size: 14px;
    }
    #adventures button {
        width: 30%;
        padding: 4px 0;
        font-size: 20px;
    }
}